.intro__text-wrapper {
  color: lightcoral;
}

.intro__subheading {
  margin: 15px 0 0;
  padding-left: 10px;
  font-size: 30px;
  border-width: 5px;
  border-left-style: solid;
  border-left-color: lightgreen;
}

.intro__paragraph-text {
  margin: 10px 0 0;
  font-size: 20px;
}
