.intro__text-wrapper {
  color: lightsalmon;
}

.intro__subheading {
  margin: 15px 0 0;
  padding-left: 10px;
  font-size: 30px;
  border-width: 5px;
  border-left-style: solid;
  border-left-color: lightgreen;
  opacity: 0.8;
}

.intro__paragraph-text {
  margin: 10px 0 0;
  font-size: 18px;
}

#map {
  margin-bottom: 200px;
  height: 500px;
}
