@keyframes flyIn {
  0% {
    transform: translateX(300%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.routes {
  display: flex;
  gap: 30px;
  max-height: 1000px;
}

.routes__map {
  width: 70%;
  height: 1px + 100%;
  border: 8px lightcoral solid;
  border-radius: 15px;
  animation: fadeIn 1.5s ease-in;
}

.routes__list {
  margin: 0;
  padding: 0;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
}

.routes__text-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.routes__title {
  text-align: center;
  width: 40px;
  margin: 0;
  color: lightgreen;
  font-size: 56px;
  animation: flyIn 1s ease-out;
}

.routes__subtitle {
  margin: 0;
  color: lightcoral;
  font-size: 24px;
  animation: flyIn 1.5s ease-out;
}
