.route {
}

.route__text-container {
  padding: 10px;
  max-width: 300px;
  outline: 2px lightcoral solid;
  border-radius: 5px;
}

.route__text-distance {
  outline-style: none;
}

.route__title {
  margin: 0;
  font-size: 24px;
}

.route__body {
  margin: 0;
}

.route__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.route__mileage {
  margin: 0;
  font-size: 24px;
  text-align: center;
  align-self: center;
}

.route__mileage-arrow {
  text-align: center;
  margin: 0;
  font-size: 56px;
  font-weight: 900;
}
