.selection__wrapper {
  padding: 10px 30px;
  margin-bottom: 4%;
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(1, 1, 1, 0.6);
  border-radius: 15px;
  box-sizing: border-box;
}

.selection__dropdown {
  align-self: center;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border-color: black;
  background-color: lightgreen;
  border-style: solid;
  border-width: 3px;
  cursor: pointer;
}

.selection__dropdown:hover {
  background-color: coral;
}

.selection__dropdown-option {
  background-color: coral;
}

.selection__items-container {
  display: flex;
  gap: 10px;
}

.selection__label-text {
  color: lightcoral;
  font-size: 20px;
}

@media screen and (max-width: 1300px) {
  .selection__wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .selection__dropdown {
    font-size: 16px;
  }

  .selection__items-container {
    flex-direction: column;
    align-items: center;
  }

  .selection__label-text {
    margin: 0;
  }
}
